body{
    color: blue;
    text-align: left;
    font-family: Arial;
}

#container{
    width: 70%;
    padding: 1em;
    text-align: center;
    border: 1px solid #ddd;
    margin: 0 auto;
}

#container h1{
    font-size: 20px;
}

#cabecera{
    background-color: brown;
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin: 0%;
    padding: 0.5em;
}